/* body {
    font-size: 20px;
}

#container > div {
    background-color: hotpink;
    margin-bottom: 15 px;
}

#pixels {
    width: 400 px;
}

#em {
    width: 20em;
}

#percent {
    width: 50%;
} */

body {
    font-size:20px;
}

#container > div {
    background-color: hotpink;
    margin-bottom: 15px;
}

#pixels {
    width: 400px;
    
}

#em {
    width: 20em;
}
body {
    font-size:20px;
}

#container > div {
    background-color: hotpink;
    margin-bottom: 15px;
}

#pixels {
    width: 400px;
    
}

#em {
    width: 20em;
}

#percent {
    width:50%;
}

#vh {
    width: 60vh;
}


