/* #name:hover{
    background-color: orange;
    border: 5px solid yellow;
} */

#send:hover{
    background-color: orange;
    border: 5px solid yellow;
}

#name:focus{
    font-size: 30px;
    background-color: aqua;
    padding: 10px;
}

.customer:first-child {
    color: pink
}

.customer:nth-child(3) {
    background-color: blueviolet;
}

.customer:nth-last-child(5) {
    padding: 15px;
    text-transform: uppercase;
    color: brown;
}

.customer:nth-child(5n-2) {
    background-color: aqua;
}