div{
    height: 300px;
    width: 300px;
}

#predefined-colors{
    background-color: lightsalmon;
}

#hexadecimal-colors{
    background-color: royalblue;
}

#short-hexadecimal-colors{
    background-color: #333;

}

#rgb-function{
    background-color: rgb(250, 127, 43);
}

#rgba-function {
    background-color: rgba(245, 100, 50, 0.15)
}