form{
    background-color: #213b50;
    padding: 20px;
    color: white;
    width: 600px;
}

form input, form select {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form select, form input[type='text'], form input[type='tel'], form input[type='email'], form textarea{
    width: 300px;
    background-color: #2b4a64;
    color: white;
    height: 25px;
    border: none;
}

form select:focus, form input:focus, form textarea:focus {
    background-color: #4e708c;
    border: 1px solid white;
    outline: none;
}

form input[type='checkbox'] {
    float: left;
}

form input[type='submit']{
    background-color: rgb(50, 206, 115);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;    
}
/* 
form textarea{
    height: : 200px;
} */
