[title] {
    color: blueviolet;
}

[title='About me'] {
    color: aquamarine;
}

[title~='Container'] {
    background-color: yellow;
}

[title*='tion'] {
    background-color: fuchsia;
}

[title^='More']{
    text-transform: uppercase;
} 


[title$='skills'] {
    color: red;
}

[title]:last-child {
    background-color: lightpink;
}

nav > ul > li > a[title] {
    color: chartreuse;
}



